# ==============================================================================
# File: mock.cfg
# Brief: 模擬開發硬體獨立開關設定檔 (Hybrid Mocking)
# Author: Jim Hsu (aba0971@gmail.com)
# Created Time: 2026-09-14 00:00:00
# Copyright: Copyright (c) 2026 CQI (CHENGQI Co., Ltd.)
#            All rights reserved.
# Notice: 1=True (啟用模擬), 0=False (使用實體)
#         當環境變數 MOCK_HARDWARE=true 時，本設定將被強制覆蓋為全開 (1)
# ==============================================================================

[MOCK_CONFIG]
MOCK_GPIO         = 0
MOCK_OTA          = 0
MOCK_WEBHOOK      = 0
MOCK_MQTT         = 0