# ==============================================================================
# File: gpio.cfg
# Brief: GPIO 特定功能獨立引腳硬體設定檔
# Author: Jim Hsu (aba0971@gmail.com)
# Created Time: 2026-09-14 00:00:00
# Copyright: Copyright (c) 2026 CQI (CHENGQI Co., Ltd.)
#            All rights reserved.
# Notice: 
# ==============================================================================

[PIN_MAPPING]
GREEN_LED_PIN           = 17
RED_LED_PIN             = 27
YELLOW_LED_PIN          = 22
LOCK_CTRL_PIN           = 5
LOCK_STATUS_PIN         = 6

GPIO_MODE               = BCM
DEFAULT_OUTPUT_STATE    = 0
CLEANUP_ON_EXIT         = True