# ==============================================================================
# File: core.cfg
# Brief: 核心有限狀態機 (FSM) 業務核心控制流程時間參數設定檔
# Author: Jim Hsu (aba0971@gmail.com)
# Created Time: 2026-09-14 00:00:00
# Copyright: Copyright (c) 2026 CQI (CHENGQI Co., Ltd.)
#            All rights reserved.
# Notice: 本設定檔專屬於 app/core/hardware.py 核心狀態機控制參數
# ==============================================================================

[CORE_CONFIG]
# main.py 裡主迴圈的睡眠時間 (秒)
LOOP_MAIN_SLEEP_SEC = 0.5