# ==============================================================================
# File: logging.cfg
# Brief: 工業級日誌系統標準化與容量滾動組態檔
# Author: Jim Hsu (aba0971@gmail.com)
# Created Time: 2026-09-14 00:00:00
# Copyright: Copyright (c) 2026 CQI (CHENGQI Co., Ltd.)
#            All rights reserved.
# Notice: MAX_BYTES 單位為 MB，LOG_LEVEL 4=DEBUG, 3=INFO, 2=WARN, 1=ERROR
# ==============================================================================

[LOGGING_CONFIG]
LOG_LEVEL       = 3
LOG_FILE_PATH   = /workspace/data/logs/__PROJ_NAME_LOWER___runtime.log
FILE_ENCODING   = utf-8

# 控制台與檔案分流開關
TO_CONSOLE      = true
TO_FILE         = true

# 容量滾動熔斷機制 (單位：MB)
MAX_BYTES       = 10
# 檔案上限數量，超過後將刪除最舊的檔案
BACKUP_COUNT    = 5

# 緊湊型方括號結構與 ISO 8601 UTC 格式
LOG_FORMAT      = [%%(asctime)s][%%(levelname)s][%%(name)s]: %%(message)s
DATE_FORMAT     = %%Y-%%m-%%dT%%H:%%M:%%S+08:00